body {
    height: 100vh;
    background-color: #e6e6e6;
}
.header {
    background-color: #ffffff;
    padding-top: 25px;
    padding-bottom: 25px;
}
.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-nav {
    padding: 0;
    margin: 0;
}
.header-nav li {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
}
.header-nav li a{
    text-decoration: none;
    color: grey;
}
.header-icon {
    padding: 0;
    margin: 0;
    display: flex;
    
}
.header-icon li {
    display: inline-block;
    padding-left: 13px;
    flex: 0 0 21px;


    max-width: 21px;
    width: 21px;
    margin-right: 10px;
    margin-left: 0;
}
.section-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    flex-wrap: wrap;
   padding-top: 7px;
   padding-right: 20px;
}
.off{
    background-color: black; 
    padding: 0;  
    margin:0 ;
}
.item{
    background-size: cover;
    background-image: url(./dslr.jpg);
    height: calc(100vh - 83px);
    background-repeat: no-repeat;
}
.hero-content {
   
    text-align: center;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
}
.hero-content h2 {
    color: #fff;
    font-size: 35px;
    margin-bottom: 12px;
    line-height: 1.3;
}

.hero-content p {
    font-size: 15px;
    margin-bottom: 20px;
    color: #fff;
}
.hero-content__button button {
    padding: 12px 15px;
    border: 0;
    background-color: #fff;
    color: black;
}


